services:
  api:
    image: gamelotillo/mi-api:latest
    container_name: api-monitor
    command: ["uvicorn", "Api:app", "--host", "0.0.0.0", "--port", "8000"]
    ports:
      - "80:8000"
    volumes:
      - api_data:/app/data
    restart: unless-stopped

  agent:
    image: gamelotillo/mi-agent:latest
    container_name: agent-monitor
    pid: host
    network_mode: host
    privileged: true
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc:/host/etc:ro
      - ./logs:/app/logs
    environment:
      - API_URL=http://127.0.0.1:80/send # Corregido
      - COLLECT_INTERVAL=60
      - HOST_PROC=/host/proc
      - HOST_SYS=/host/sys
      - HOST_ETC=/host/etc
    restart: unless-stopped
    depends_on:
      - api # Sin condition: service_healthy

volumes:
  api_data:
    driver: local
